---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Check for install in {{ istio_install_dir }}
  become: true
  become_user: root
  ansible.builtin.stat:
    path: '{{ istio_install_dir }}'
  changed_when: false
  register: istio_binary
- name: Download and install istio
  when: not istio_binary.stat.exists
  block:
    - name: Downloading {{ istio_tgz_url }}
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ istio_tgz_url }}'
        dest: '{{ istio_tmp_tgz }}'
        checksum: '{{ istio_checksum }}'
        mode: '644'
    - name: Installing andrewrothstein.unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchiving {{ istio_tmp_tgz }} to {{ istio_parent_install_dir }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ istio_tmp_tgz }}'
        dest: '{{ istio_parent_install_dir }}'
        creates: '{{ istio_install_dir }}'
  always:
    - name: Rm -f {{ istio_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ istio_tmp_tgz }}'
        state: absent
- name: Mark binaries and dirs as 755
  become: true
  become_user: root
  with_items:
    - s: directory
      p: '{{ istio_install_dir }}'
    - s: directory
      p: '{{ istio_install_dir }}/bin'
    - s: file
      p: '{{ istio_fq_exe }}'
  ansible.builtin.file:
    path: '{{ item.p }}'
    state: '{{ item.s }}'
    mode: '755'
- name: Linking {{ istio_link_exe }} to {{ istio_fq_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ istio_fq_exe }}'
    dest: '{{ istio_link_exe }}'
    state: link
- name: Linking {{ istio_link_dir }} to {{ istio_install_dir }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ istio_install_dir }}'
    dest: '{{ istio_link_dir }}'
    state: link
